#logo1{
    width: 5em; 
    height: 4em; 
    margin-left: 5em;
}
#conf{
    margin-left: 1%;
    margin-right: 25%;
    position: relative;
    vertical-align: text-bottom;
}    


#ticket{
    color: rgb(39, 131, 43);    
}


.navbar{
    width: 100%;      
    margin-left: auto;
    margin-right: auto;     
    font-size: 0.9em; 
    
}
#fondo{
    filter: brightness(0.5); 
    width: 100%;      
    height: 100%;      
    margin: auto;
    position: relative;
    
      
        
}
#titulo1{   
    text-align: end;  
    margin-top: 25%;
    position: relative;
    margin-right: 2em;
    
    
}
#parrafo1{
    text-align: end;    
    font-size: 0.8em;
    margin-right: 2em;
}

#boton1{   
    color: white;
    background-color: unset;
    margin-right: 2em;
}
#boton2{
    background-color: green;
    color: white;
    margin-right: 2em;
  
}
h6,h3{
    text-align: center;
}
h6{
    font-family: sans-serif;
    color: rgb(102, 98, 98);
}
#react1{
    color: white;
}   


.card-title{
    margin-left: 0.5em;
    text-align: left;
    
}

.card-text{
    margin-left: 0.5em;
    text-align: left;
    font-size: 0.7em;   
}
#cuadrado{
    width: 40em; 
    height: 33em; 
    border: 1px solid rgb(235, 230, 230);
    background-color: rgb(20, 17, 59);
    
}
#botonCarusel{
    color: white;
    border-color: white;
    background-color: transparent;
}

#nombre{
    margin-left: auto;
    margin-right: auto;
}
#apellido{
    margin-left: auto;
    margin-right: auto;
}
#hablar{
    margin-left: auto;
    margin-right: auto;
    color: rgb(141, 140, 140);
}
#titulo{
    margin-left: auto;
    margin-right: auto;
}

#botonEnviar{
    background-color: rgb(150, 226, 106);
    border-color: rgb(98, 230, 98);
}

.nav{
   
    background-color: rgb(62, 66, 90);
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
   
    
}
.nav-link{
    color: white;  
    margin-left: auto;
    margin-right: auto; 
   
  
}

#preguntas{
    margin-left: 20em;    
      
}







